section {
    padding: 40px;
    height: 100vh;
    font-family: "Oranienbaum", serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Raleway", sans-serif;
  }
  
  .serif {
    font-family: "Oranienbaum", serif;
  }

  .reach-out{
    font-size:10rem !important;
  }

  #contact-info{
    padding-top:150px;
  }


  
  