section {
  font-family: "Oranienbaum", serif;
  height: 10% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  padding: 10px;
}

a {
  padding: 10px;
}

.serif {
  font-family: "Oranienbaum", serif;
}
