:root {
  --terra: #af856b;
  --cream: #fffaf4;
  --concrete: #dcdddb;
  --black: #333;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

.serif {
  font-family: "Oranienbaum", serif;
}

a h1 {
  color: var(--black);
  text-decoration: none;
}

a h1:hover {
  color: var(--terra);
  text-decoration: none;
}

.lauren {
  font-size: 6rem !important;
}

#sec1 {
  height: 100vh;
  background-color: var(--cream);
  color: var(--black);
}

@media (min-width: 768px) {
  #sec1 {
    height: 80vh;
  }
  .lauren {
    font-size: 7rem !important;
  }
}

@media (min-width: 992px) {
  #sec1 {
    height: 95vh;
  }

}

@media (min-width: 992px) {
  #sec1 {
    height: 95vh;
  }
  .lauren {
    font-size: 8rem !important;
  }
}
