:root {
  --terra: #af856b;
  --cream: #fffaf4;
  --concrete: #dcdddb;
  --black: #333;
}

.nav {
  background-color: var(--cream);
  color: var(--black);
  font-family: "Oranienbaum", serif;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  color: var(--black) !important;
}

a:hover {
  color: var(--terra) !important;
}
