:root {
  --terra: #af856b;
  --cream: #fffaf4;
  --concrete: #dcdddb;
  --black: #333;
}

.nav {
  background-color: var(--cream);
  color: var(--black);
  font-family: "Oranienbaum", serif;
  padding:30px;

}

a {
    color: var(--black) !important;
  }
  
a:hover {
    color: var(--terra) !important;
}