:root {
  --terra: #af856b;
  --cream: #fffaf4;
  --concrete: #dcdddb;
  --black: #333;
}

.portfolio-items {
  padding: 0px !important;
  background-color: var(--cream);
  color: var(--black);
  border-radius: 0px;
  margin: 20px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary {
  background-color: var(--black) !important;
  color: var(--concrete) !important;
  border: none;
  border-radius: 0px !important;
  font-size: 1.1rem !important;
  padding: 10px !important;
  margin: 10px !important;
  font-family: "Oranienbaum", serif !important;
  margin: botttom 30px;
}

.btn:hover {
  background-color: var(--terra) !important;
  color: var(--concrete) !important;
  border: none;
}

.thumbnail {
  width: 100% !important;
  height: 100%;
  z-index: 0;
}
