/*brand colors*/
:root {
  --terra: #af856b;
  --cream: #fffaf4;
  --concrete: #dcdddb;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oranienbaum", serif;
  background-color: var(--cream);
  color: var(--black);
}

a {
  color: var(--terra);
}

a:hover {
  color: var(--concrete);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

.serif {
  font-family: "Oranienbaum", serif;
}


section {
  padding: 40px;
  height: 75vh;
}

#lauren {
  margin: 20px;
  max-width: 90%;
}









@media (min-width: 768px){
  #sec1 {
      height: 80vh;
  }
}

@media (min-width: 992px){
  #sec1 {
    height: 95vh;
}
}
