/*brand colors*/
:root {
  --terra: #af856b;
  --cream: #fffaf4;
  --concrete: #dcdddb;
  --black: #333;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oranienbaum", serif;
  color: var(--black) !important;
  background-color: var(--cream) !important;
}
